body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u283 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(61, 60, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(61, 60, 60, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u284 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:158px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:158px;
  display:flex;
}
#u285 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:922px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:436px;
  height:922px;
  display:flex;
}
#u286 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1159px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:107px;
  color:#FFFFFF;
  text-align:left;
  line-height:107px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:0px;
  width:1159px;
  height:142px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:107px;
  color:#FFFFFF;
  text-align:left;
  line-height:107px;
}
#u287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:78px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:1658px;
  top:40px;
  width:217px;
  height:78px;
  display:flex;
}
#u288 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:436px;
  height:124px;
  display:flex;
}
#u289 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:282px;
  width:436px;
  height:124px;
  display:flex;
}
#u290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:406px;
  width:436px;
  height:124px;
  display:flex;
}
#u291 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:530px;
  width:436px;
  height:124px;
  display:flex;
}
#u292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:172px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u293 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:296px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u294 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:420px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u295 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:546px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u296 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:124px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:654px;
  width:358px;
  height:124px;
  display:flex;
}
#u297 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:124px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:778px;
  width:358px;
  height:124px;
  display:flex;
}
#u298 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:668px;
  width:188px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u299 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:792px;
  width:222px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u300 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:646px;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:256px;
  width:1148px;
  height:646px;
  display:flex;
}
#u301 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
  background:inherit;
  background-color:rgba(61, 60, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(213, 135, 46, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:1439px;
  top:902px;
  width:436px;
  height:124px;
  display:flex;
}
#u303 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:1558px;
  top:916px;
  width:210px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u304 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:256px;
  width:1144px;
  height:642px;
}
#u305_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:642px;
  overflow:auto;
}
