body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u260 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(61, 60, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(61, 60, 60, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u261 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:158px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:158px;
  display:flex;
}
#u262 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:922px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:436px;
  height:922px;
  display:flex;
}
#u263 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1159px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:107px;
  color:#FFFFFF;
  text-align:left;
  line-height:107px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:0px;
  width:1159px;
  height:142px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:107px;
  color:#FFFFFF;
  text-align:left;
  line-height:107px;
}
#u264 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:78px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:1658px;
  top:40px;
  width:217px;
  height:78px;
  display:flex;
}
#u265 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:436px;
  height:124px;
  display:flex;
}
#u266 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:282px;
  width:436px;
  height:124px;
  display:flex;
}
#u267 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:406px;
  width:436px;
  height:124px;
  display:flex;
}
#u268 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:530px;
  width:436px;
  height:124px;
  display:flex;
}
#u269 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:172px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u270 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:296px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:420px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u272 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:546px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:124px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:654px;
  width:358px;
  height:124px;
  display:flex;
}
#u274 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:124px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:778px;
  width:358px;
  height:124px;
  display:flex;
}
#u275 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:668px;
  width:188px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u276 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:792px;
  width:222px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u277 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
  text-align:left;
  line-height:50px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:210px;
  width:667px;
  height:67px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
  text-align:left;
  line-height:50px;
}
#u278 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
  background:inherit;
  background-color:rgba(61, 60, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(213, 135, 46, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:1439px;
  top:902px;
  width:436px;
  height:124px;
  display:flex;
}
#u280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:1558px;
  top:916px;
  width:210px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
