body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(61, 60, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(61, 60, 60, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u134 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:158px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:158px;
  display:flex;
}
#u135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:922px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:436px;
  height:922px;
  display:flex;
}
#u136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1159px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:107px;
  color:#FFFFFF;
  text-align:left;
  line-height:107px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:0px;
  width:1159px;
  height:142px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:107px;
  color:#FFFFFF;
  text-align:left;
  line-height:107px;
}
#u137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:78px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:1658px;
  top:40px;
  width:217px;
  height:78px;
  display:flex;
}
#u138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:436px;
  height:124px;
  display:flex;
}
#u139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:282px;
  width:436px;
  height:124px;
  display:flex;
}
#u140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:406px;
  width:436px;
  height:124px;
  display:flex;
}
#u141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:172px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:296px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u143 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:420px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u144 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:124px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:530px;
  width:358px;
  height:124px;
  display:flex;
}
#u145 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:124px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:654px;
  width:358px;
  height:124px;
  display:flex;
}
#u146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:544px;
  width:188px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:668px;
  width:222px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:778px;
  width:436px;
  height:124px;
  display:flex;
}
#u149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:794px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u150 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
  text-align:left;
  line-height:50px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:210px;
  width:307px;
  height:67px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
  text-align:left;
  line-height:50px;
}
#u151 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
  background:inherit;
  background-color:rgba(61, 60, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(213, 135, 46, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:1439px;
  top:902px;
  width:436px;
  height:124px;
  display:flex;
}
#u153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:1558px;
  top:916px;
  width:210px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u154 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
