body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u333 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(61, 60, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(61, 60, 60, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u334 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:158px;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:158px;
  display:flex;
}
#u335 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:922px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:436px;
  height:922px;
  display:flex;
}
#u336 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1159px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:107px;
  color:#FFFFFF;
  text-align:left;
  line-height:107px;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:0px;
  width:1159px;
  height:142px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:107px;
  color:#FFFFFF;
  text-align:left;
  line-height:107px;
}
#u337 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:78px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:1658px;
  top:40px;
  width:217px;
  height:78px;
  display:flex;
}
#u338 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:436px;
  height:124px;
  display:flex;
}
#u339 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:282px;
  width:436px;
  height:124px;
  display:flex;
}
#u340 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:406px;
  width:436px;
  height:124px;
  display:flex;
}
#u341 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:530px;
  width:436px;
  height:124px;
  display:flex;
}
#u342 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:172px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u343 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:296px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u344 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:420px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u345 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:546px;
  width:281px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u346 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:124px;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:654px;
  width:358px;
  height:124px;
  display:flex;
}
#u347 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:124px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:778px;
  width:358px;
  height:124px;
  display:flex;
}
#u348 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:668px;
  width:188px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u349 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:792px;
  width:222px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u350 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:65px;
  color:#FFFFFF;
  text-align:left;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:221px;
  width:1144px;
  height:172px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:65px;
  color:#FFFFFF;
  text-align:left;
}
#u351 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:513px;
  width:49px;
  height:49px;
  display:flex;
}
#u352 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:740px;
  width:49px;
  height:49px;
  display:flex;
}
#u353 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:65px;
  color:#FFFFFF;
  text-align:left;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:495px;
  width:1144px;
  height:172px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:65px;
  color:#FFFFFF;
  text-align:left;
}
#u354 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:65px;
  color:#FFFFFF;
  text-align:left;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:722px;
  width:961px;
  height:172px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:65px;
  color:#FFFFFF;
  text-align:left;
}
#u355 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:124px;
  background:inherit;
  background-color:rgba(61, 60, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(213, 135, 46, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:1439px;
  top:902px;
  width:436px;
  height:124px;
  display:flex;
}
#u357 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:1558px;
  top:916px;
  width:210px;
  height:97px;
  display:flex;
  font-family:'Segoe UI Standard', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:73px;
  color:#FFFFFF;
  text-align:left;
  line-height:73px;
}
#u358 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
